name: linux/amd64

on:
  # push:
  #   branches: [ main ]
  #   paths:
  #   - '**'
  #   - '!README.md'
  #   - '!.github/workflows/update-dockerhub.yml'
  # pull_request:
  #   branches: [ main ]
  #   paths:
  #   - '**'
  #   - '!README.md'
  #   - '!.github/workflows/update-dockerhub.yml'
  repository_dispatch:
    types: [release-created]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.2.0
      - name: Build Linux Image
        uses: docker/build-push-action@v4.1.1
        with:
          context: .
          file: Dockerfile
          tags: |
            apfelwurm/alertmanagermeshtastic:latest
          build-args: |
            BUILDNODE=GitHub (Run Number: ${{ github.run_number }} Run ID: ${{ github.run_id }})
            SOURCE_COMMIT=${{ github.sha }}
            VERSION=${{ github.event.client_payload.next_release_tag }}
          no-cache: true
      - name: Login to DockerHub
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v2.2.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push to Docker HUB
        if: ${{ github.event_name != 'pull_request' }}
        run: docker push apfelwurm/alertmanagermeshtastic:latest
