name: Update Docker Hub Description

on:
  push:
    branches: [main]
    paths:
      - "README.md"
  workflow_dispatch: # Allows action to be run manually from the Actions tab

jobs:
  update-dockerhub-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Update Docker HUB Description
        uses: peter-evans/dockerhub-description@v3.4.2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: apfelwurm/alertmanagermeshtastic
          short-description: "alertmanager gateway for meshtastic"
          readme-filepath: ./README.md
